@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');

*, *::after, *::before {
	margin: 0;
	padding: 0;
}

body {
	background: #FAFAD2;
}

.container {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 19rem;
	padding: 7rem;
	margin: 5rem auto;
	justify-content: center;
	align-items: center;
	border: 1.5rem solid rgba(95,158,160, 0.5);
	border-radius: 25px;
	background-color: 	#D2B48C;
	font-family: 'Baloo Tamma 2', cursive;
}

.fetch-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem;
}

.cat-box {
	max-width: 300px;
	margin-right: 1.5rem;
}

.cats-facts {
	width: 500px;
	margin-left: 1rem;
	font-size: 1.3rem;
	color: #fff;
	line-height: 1.7rem;
}

img {
	max-width: 300px;
	border-radius: 50%;
	max-height: 25rem;
}

.control {
	padding-top: 0.5rem;
	bottom: 2rem;
}

button {
	outline: none;
	text-align: center;
	color: #fff;
	background: rgba(95,158,160, 0.6);
	height: 3rem;
	width: 10rem;
	border: none;
	font-family: 'Baloo Tamma 2', cursive;
	font-weight: bold;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	transition: background 0.3s ease-in;
}
button:hover {
	background:#CD853F;
}

@media (max-width: 1500px) {
	.cats-facts {
		width: 50%;
		font-size: 0.7rem;
		max-width: 55%;
		line-height: 1.2rem;
	}

	.container {
		padding: 2rem;
	}

	.cat-box {
		width: 20%;
	}

	img {
		max-width: 250px;
		max-height: 250px;
	}
}

@media (max-width: 955px) {
	img {
		max-width: 150px;
	}
	.fetch-box > div {
		flex: 1;
	}
}
